IF DB_ID('Watches') IS NOT NULL
	DROP DATABASE Watches
	
CREATE DATABASE Watches
GO


USE [Watches]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [char](3) NOT NULL,
	[CountryName] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'AF', N'Afghanistan')
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'AL', N'Albania')
INSERT [dbo].[Country] ([CountryCode], [CountryName]) VALUES (N'DZ', N'Algeria')
























/****** Object:  Table [dbo].[Categories]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](20) NOT NULL,
	[ShortName] [varchar](50) NOT NULL,
	[LongName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'Male', N'M', N'Male')
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'Female', N'F', N'Female')
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'Sports', N'SRT', N'Sports')
/****** Object:  Table [dbo].[Brands]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [varchar](20) NOT NULL,
	[ShortName] [varchar](50) NOT NULL,
	[LongName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Brands] ([BrandID], [ShortName], [LongName]) VALUES (N'Casio', N'CO', N'Casio')
INSERT [dbo].[Brands] ([BrandID], [ShortName], [LongName]) VALUES (N'Diesel', N'D', N'Diesel')
INSERT [dbo].[Brands] ([BrandID], [ShortName], [LongName]) VALUES (N'Citizen', N'CN', N'Citizen')

/****** Object:  Table [dbo].[InvoiceData]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceData](
	[SalesTax] [money] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[InvoiceData] ([SalesTax]) VALUES (0.0750)
/****** Object:  Table [dbo].[Customers]     Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Email] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[CountryName] [varchar](40) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
	
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF/******Trim trailing blank spaces******/
GO
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [CountryName], [PhoneNumber], [UserName], [Password]) VALUES (N'fabio@gmail.com', N'Fabio', N'Lelis', N'1108 Johanna Bay Drive', N'Dublin', N'Ireland', N'(705) 555-5237', 'fabio', '123456')
/*
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [CountryName], [PhoneNumber]) VALUES (N'Andrew4000@gmail.com', N'Williams', N'Andrew', N'485 Duane Terrace', N'Dublin', N'Ireland', N'(804) 555-6924')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [CountryName], [PhoneNumber]) VALUES (N'MickAnty@yahoo.ie', N'Antony', N'Mick', N'1109 Powderhorn Drive', N'Dublin', N'Ireland', N'(409) 555-8093 ext 5')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [CountryName], [PhoneNumber]) VALUES (N'JohnFlaherty456@hotmail.com', N'Flaherty', N'John', N'48 Newcastle Road', N'Galway', N'Ireland', N'(600) 555-4927')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [CountryName], [PhoneNumber]) VALUES (N'AlanD@gmail.com', N'Doherty', N'Alan', N'P.O. Box 8553', N'Cork', N'Ireland', N'(608) 555-6361')
*/

/****** Object:  Table [dbo].[Products]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [char](20) NOT NULL,
	[BrandID] [varchar](20) NOT NULL,
	[LongDescription] [varchar](2000) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Packaging] [varchar](20) NOT NULL,
	[Guarantee(months)] [int] NOT NULL,
	[CaseWidth(mm)] [int] NOT NULL,
	[CaseDepth(mm)] [int] NOT NULL,
	[CategoryID] [varchar](20) NOT NULL,
	[DialColor] [varchar](20) NOT NULL,
	[CaseMaterial] [varchar](20) NOT NULL,
	[StrapType] [varchar](20) NOT NULL,
	[StrapColor] [varchar](20) NOT NULL,
	[WaterResistancy] [int] NOT NULL,
	[DateDisplay] [char](1) NOT NULL,
	[ClaspType] [varchar](20) NOT NULL,
	[Movement] [varchar](30) NOT NULL,
	[Chronograph] [char](1) NOT NULL,
	[AnalogueDigital] [char](1) NOT NULL,
	[ImageFile] [varchar](30) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Invoices]    Script Date: 03/03/2016  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceNumber] [int] IDENTITY(1000,1) NOT NULL,
	[CustEmail] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Subtotal] [money] NOT NULL,
	[ShipMethod] [varchar](50) NOT NULL,
	[Shipping] [money] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[CreditCardType] [varchar](50) NOT NULL,
	[CardNumber] [varchar](50) NOT NULL,
	[ExpirationMonth] [smallint] NOT NULL,
	[ExpirationYear] [smallint] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1000, N'Albert@masterxmlrad.com', CAST(0x00009E0300000000 AS DateTime), 119.9700, N'UPS', 4.2500, 9.0000, 133.2200, N'VISA', N'1111-2222-3333-4444', 7, 2015)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1001, N'CMavraedis@dTwildKhCkli.e', CAST(0x00009E0300000000 AS DateTime), 119.9100, N'UPS', 7.7500, 8.9900, 136.6500, N'VISA', N'1111-2222-3333-4444', 1, 2016)
/*
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1002, N'Christopher05@minwildobZF', CAST(0x00009E0300000000 AS DateTime), 39.9900, N'UPS', 4.2500, 3.0000, 47.2400, N'VISA', N'1111-2222-3333-4444', 12, 2017)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1003, N'Greiner3@bymmatweb.com', CAST(0x00009E0300000000 AS DateTime), 39.9900, N'UPS', 4.2500, 3.0000, 47.2400, N'VISA', N'1111-2222-3333-4444', 7, 2016)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1004, N'ErIvy@fZlwild.com', CAST(0x00009E0300000000 AS DateTime), 129.8400, N'UPS', 6.0000, 9.7400, 145.5800, N'VISA', N'1111-2222-3333-4444', 4, 2015)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1005, N'Albert@masterxmlrad.com', CAST(0x00009E0300000000 AS DateTime), 119.9700, N'UPS', 4.2500, 9.0000, 133.2200, N'VISA', N'1111-2222-3333-4444', 7, 2015)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1006, N'CMavraedis@dTwildKhCkli.e', CAST(0x00009E0300000000 AS DateTime), 119.9100, N'UPS', 7.7500, 8.9900, 136.6500, N'VISA', N'1111-2222-3333-4444', 1, 2016)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1007, N'Christopher05@minwildobZF', CAST(0x00009E0300000000 AS DateTime), 39.9900, N'UPS', 4.2500, 3.0000, 47.2400, N'VISA', N'1111-2222-3333-4444', 12, 2017)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1008, N'Greiner3@bymmatweb.com', CAST(0x00009E0300000000 AS DateTime), 39.9900, N'UPS', 4.2500, 3.0000, 47.2400, N'VISA', N'1111-2222-3333-4444', 7, 2016)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1009, N'ErIvy@fZlwild.com', CAST(0x00009E0300000000 AS DateTime), 129.8400, N'UPS', 6.0000, 9.7400, 145.5800, N'VISA', N'1111-2222-3333-4444', 4, 2015)
*/

SET IDENTITY_INSERT [dbo].[Invoices] OFF
/****** Object:  Table [dbo].[LineItems]    Script Date: 03/03/2016 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LineItems](
	[InvoiceNumber] [int] NOT NULL,
	[ProductID] [char](20) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Extension]  AS ([UnitPrice]*[Quantity]) PERSISTED,
 CONSTRAINT [PK_LineItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON
GO
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1000, N'frankc01  ', 39.9900, 3)
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1001, N'head02    ', 29.9900, 3)
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1001, N'rat01     ', 14.9900, 1)


SET ANSI_PADDING OFF
/****** Object:  ForeignKey [FK_Customers_Country]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[Customers]  WITH NOCHECK ADD  CONSTRAINT [FK_Customers_Country] FOREIGN KEY([CountryName])
REFERENCES [dbo].[Country] ([CountryName])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Country]
GO
/****** Object:  ForeignKey [FK_Invoices_Customers]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[Invoices]  WITH NOCHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustEmail])
REFERENCES [dbo].[Customers] ([Email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
/****** Object:  ForeignKey [FK_LineItems_Invoices]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[LineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_LineItems_Invoices] FOREIGN KEY([InvoiceNumber])
REFERENCES [dbo].[Invoices] ([InvoiceNumber])
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LineItems_Invoices]
GO
/****** Object:  ForeignKey [FK_LineItems_Products]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[LineItems]  WITH NOCHECK ADD  CONSTRAINT [FK_LineItems_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LineItems_Products]
GO
/****** Object:  ForeignKey [FK_Products_Categories]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  ForeignKey [FK_Products_Brands]    Script Date: 03/03/2016  ******/
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Brands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Brands]
GO
